#welcome-div{
    position: fixed;
    top: 32px;
    right: 0;
    left: 15vw;
    z-index: 1030;
    border-bottom: solid 1px black;
}
#panels{
    margin-top: 200px;
}

#joke-category{
    position: absolute;
    top: 10px;
    right: 40px;
}

.hold-bottom{
    position: absolute;
    bottom: 20px;
}

.bg-pic1{
    background-image: url("../../img/bg/bg1.png");
    background-position: center;
}
.row .col{
    background-color: #121212;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    min-height: 25vh;
    min-width: calc((100vw - 15vw) / 3 - 25px);
}
.row label{
    position: relative;
    padding-top: 1vh;
    font-size: 0.8em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #808080;
}
.row .progress{
    border-radius: 0;
}
.row .progress-bar{
    background-color: cornflowerblue;
}